.footer__column-link {
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}

.footer__column-link:hover {
  opacity: 70%;
  transition: opacity 0s linear 0s;
}